@{
    ViewData["Title"] = "Không có quyền truy cập";
}

<h1 class="text-danger">Bạn không có quyền truy cập trang này!</h1>
<p class="text-muted">Vui lòng liên hệ quản trị viên nếu bạn cần thêm quyền.</p>

<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Quay lại Trang Chủ</a>

